# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# Зависимости (самое тяжелое)
node_modules/
dist/
dist-ssr/
*.local

# Кеш и логи
.vscode/*
!.vscode/extensions.json
.DS_Store
*.log
.eslintcache

# Кеш сборки Vite
node_modules/.vite
temp/

# Системные файлы Fedora/Linux
*~
*.swp